.commenting::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.commenting::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.commenting::-webkit-scrollbar-thumb {
    background: rgb(199, 97, 86);
    border-radius: 10px;
}

/* Handle on hover */
.commenting::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
